*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: black;
  color: white;
}

.container{
  position: relative;
  text-align: center;
  width: 95%;
  max-width: 800px;
  padding: 15px;
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgb(0,0,0,0.5);
}

h1{
  font-size: 2.5em;
  color: #f9ca24;
}

p{
  font-size: 1.2em;
}

#GameGrid{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 10px;
  margin: 2px auto;
  justify-content: center;
}

.cell{
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: #f9ca24;
}

.overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  color: #f9ca24;
  font-size: 2em;
  text-align: center;
  z-index: 100;
  animation: float 2s ease-in-out infinite;
}

.overlay-button{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6374;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@keyframes float{
  0%,
  100%{
    transform: translate(-50%,-60%);
  }
  50%{
    transform: translate(-50%,-40%);
  }
}
@media (max-width:768px){
  #GameGrid{
    grid-template-columns: repeat(5,1fr);
  }
  .cell{
    width: 55px;
    height: 50px;
  }
}

@media (max-width:480px){
    #GameGrid{
      grid-template-columns: repeat(5,1fr);
    }
    .cell{
      width: 50px;
      height: 45px;
    }
  }
}